---
import Blob from '@components/logos/Blob.astro'
---
<section class='flex justify-center items-center gap-96 flex-col h-screen font-playFlaire'>
	<header class='text-black'>
		<div class='flex justify-center items-center'>
			<h1 class='text-3xl sm:text-4xl md:text-6xl lg:text-8xl xl:text-[10rem] text-center'>Andrés Florez</h1>
			<Blob />
		</div>
		<div class='flex flex-col text-sm sm:text-xl -mt-10 sm:mt-0'>
			<span>App Developer</span>
			<span>Automation Engineer</span>
		</div>
	</header>
	<div class='mx-auto px-5 text-center'>
		<span>
        Andrés loves planning, designing and find ways to solve real-life problems with code, furthermore he has a knack for fast-learning and autonomous learning.
		</span>
	</div>
</section>