<section class='bg-black w-full h-screen font-playFlaire'>
	<header class='mt-20'>
		<h1 class='bg-text background text-transparent font-extrabold text-3xl sm:text-4xl md:text-6xl lg:text-8xl xl:text-[10rem] text-center'>
      Experience
		</h1>
	</header>
	<div class='max-w-5xl mx-auto'>
		<ol class='ml-20 border-l border-neutral-300 text-white'>
			<li>
				<div class='flex-start flex items-center pt-3'>
					<div
						class='-ml-[10px] mr-3 h-[20px] w-[20px] rounded-full bg-neutral-300'></div>
					<p class='text-lg'>
            Dec.2022 - Present
					</p>
				</div>
				<div class='mt-2 ml-4 mb-6'>
					<h4 class='mb-1.5 text-xl font-semibold'>Senior developer React</h4>
					<p class='mb-3'>
            A cargo de múltiples desarrollos dentro de la celula de la empresa y desarrolladores Junior
					</p>
				</div>
			</li>
		</ol>
	</div>
</section>

<style>
  .bg-text {
    -webkit-background-clip: text;
  }
</style>