<div class='bg-black pointer-events-none -z-50 fixed inset-0'>
	<div class='background absolute inset-0' />
</div>

<style>
  .background {
    background-image: url('/assets/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>