---
const { date, position, company } = Astro.props
---

<li>
	<div class='flex-start flex items-center pt-3'>
		<div class='-ml-[10px] mr-3 h-[20px] w-[40px] rounded-sm background'></div>
		<p class='text-lg'>
			{date}
			<div class='background ml-2 px-2.5 py-1.5 rounded-sm'>
				<span class='text-black font-bold text-sm '>{company}</span>
			</div>
		</p>
	</div>
	<div class='mt-2 ml-4 mb-6'>
		<h4 class='mb-1.5 text-xl font-semibold'>{position}</h4>
		<p class='mb-3'>
			<slot />
		</p>
	</div>
</li>

<style>
  span {
    -webkit-background-clip: text;
  }
</style>